.btn-primary {
  background-color: var(--theme-primary-color) !important;
  border-color: var(--theme-primary-color) !important;
  color: white !important;
}
#btn-export {
  background-color: white !important;
  border-color: white !important;
  color: var(--theme-primary-color) !important;
}
