.details {
  padding-bottom: 0.4em;
  border-bottom: 1px solid var(--theme-primary-color);
}
.btn-primary {
  background-color: var(--theme-primary-color) !important;
  border-color: var(--theme-primary-color) !important;
}
