.btn-primary {
  background-color: var(--theme-primary-color) !important;
  border-color: var(--theme-primary-color) !important;
  color: white !important;
}

.drap-drop-text {
  position: absolute;
  right: 15px;
  bottom: 0;
}
